@use "../base/variables" as *;

footer {
    display: flex;
    flex-direction: column;

    margin-top: 15%;
}

.contact-container {
    display: flex;
    align-items: flex-start;
    background-color: rgb(53, 53, 53);
    font-family: $font-main;
    font-size: $font-size-nav;
    padding: 30px;
    gap: 40px;
}

.contact-left {
    flex-shrink: 0;
}

.contact-image {
    height: 300px;
    width: auto;
    object-fit: cover;
}

.contact-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    color: $color-text;
}

.contact-text {
    text-align: center;
    margin-bottom: 20px;
}

.contact-form .form-label,
.contact-form .form-control,
.contact-form textarea {
    color: $color-text;
}

.contact-form .form-control {
    color: black;
}

.footer-text {
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px 0;
    width: 100%;
    font-size: 14px;
}