// Color variables
$color-bg: rgb(36, 36, 36);
$color-text: rgb(231, 231, 231);
$color-primary: rgb(0, 0, 146);

// Font variables
$font-main: "Vend Sans", sans-serif;
$font-size-nav: 22px;

// Effects variables
$glow-white: 
0 0 8px white,
0 0 16px white,
0 0 32px white,
0 0 48px white;